*{
box-sizing:border-box;
}

body{
margin:0;
font-family:Tahoma;
background:#eef3f7;
}

header{
background:#006400;
color:white;
padding:20px;
}

.top{
display:flex;
align-items:center;
justify-content:space-between;
flex-wrap:wrap;
}

.top img{
width:300px;
max-width:100%;
height:auto;
border-radius:10px;
}

h1{
margin:0;
font-size:45px;
}

h3{
margin-top:10px;
}

nav{
background:#0b7d3b;
padding:15px;
text-align:center;
}

nav a{
color:white;
text-decoration:none;
margin:15px;
font-size:18px;
font-weight:bold;
}

nav a:hover{
color:yellow;
}

marquee{
background:#fff8dc;
padding:12px;
font-size:22px;
color:red;
font-weight:bold;
}

.container{
width:90%;
margin:auto;
padding:20px;
}

.info{
background:white;
padding:20px;
border-radius:10px;
box-shadow:0 0 10px gray;
margin-top:20px;
}

.info img{
display:block;
width:100%;
max-width:350px;
height:auto;
margin:0 auto 20px auto;
border-radius:10px;
}

.section{
background:white;
margin-top:25px;
padding:20px;
border-radius:10px;
box-shadow:0 0 8px gray;
}

.section a{
display:block;
padding:15px;
font-size:22px;
text-decoration:none;
color:#006400;
}

.section a:hover{
background:#d9f5dd;
}

.section iframe{
width:100%;
height:500px;
border:2px solid #006400;
border-radius:10px;
margin-top:15px;
margin-bottom:20px;
}

.section form{
margin-top:20px;
}

.section input:not([type="radio"]),
.section select{
width:100%;
padding:10px;
margin-top:5px;
margin-bottom:15px;
font-size:16px;
}

.section input[type="radio"]{
width:auto;
margin:0 5px;
}

.section input[type="submit"],
.section input[type="reset"]{
width:auto;
padding:10px 20px;
background:#006400;
color:white;
border:none;
cursor:pointer;
border-radius:5px;
}

.section input[type="submit"]:hover,
.section input[type="reset"]:hover{
background:#0b7d3b;
}

.internet{
background:white;
margin-top:25px;
padding:20px;
border-radius:10px;
box-shadow:0 0 8px gray;
text-align:center;
}

.internet iframe{
width:100%;
height:500px;
border:2px solid green;
border-radius:10px;
}

footer{
margin-top:30px;
background:#006400;
color:white;
padding:20px;
text-align:center;
font-size:18px;
}

footer a{
color:white;
text-decoration:none;
}